body{
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, rgb(241, 94, 210), rgb(99, 171, 240))
}

#calculator{
  font-family: Arial,sans-serif;
  background-color: hsl(0, 0%, 15%);
  border-radius: 15px;
  max-width: 350px;
  max-height: 550px;
  overflow: hidden;
  margin-bottom: 70px;
}

#keys{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 7px;
  padding: 25px;
}
#display{
  width: 100%;
  padding: 20px;
  font-size: 5rem;
  border: none;
  text-align: left;
  background-color: hsl(0, 0%, 20%);
  color: white;
}

button{
  width: 60px;
  height: 60px;
  border-radius: 50px;
  border: none;
  background-color: hsl(0, 0%, 30%);
  color: white;
  font-weight: bold;
  font-size: 1.8rem;
  cursor: pointer;
  
  
}
button:hover{
  background-color: hsl(0, 0%, 40%);

}
button:active{
  background-color: hsl(0, 0%, 50%);

}
.operator-btn{
  background-color: hsl(35, 100%, 55%);
}
.operator-btn:hover{
  background-color: hsl(35, 100%, 65%);
}
.operator-btn:active{
  background-color: hsl(35, 100%, 75%);
}